.card-tag {
  background-color: #e17654;
  color: #ffead0;
  border-radius: 5px;
  padding: 7px 13px;
  text-align: center;
  max-height: 35px;
  max-width: 85px;
  font-weight: 500;
}

.card-tag.simple {
  background-color: #e17654;
}

.card-tag.rugged {
  background-color: #115e59;
}

.card-tag.luxury {
  background-color: #161616;
}
