.about__image-container {
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.about__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about__header {
  margin: 30px 0px;
  color: #161616;
}

.about__paragraph {
  margin: 20px 0px;
  color: #161616;
  font-weight: 500;
}

.about__explore-our-vans-button {
  width: 174px;
  border-radius: 10px;
  border: 0;
  background-color: #161616;
  color: white;
  font-family: inherit;
  font-weight: 600;
  padding: 15px 22px;
  margin-bottom: 10px;
  text-decoration: none;
  text-align: center;
}

.about__explore-our-vans-button:hover {
  filter: invert(0.3);
  transform: scale(0.98);
}

.about__article {
  margin: 30px 27px;
}

.about__explore {
  background-color: #ffcc8d;
  padding: 30px;
  border-radius: 5px;
  margin: 40px 0px;
}

.about__explore-header-group {
  margin-bottom: 20px;
}

.about__explore-header {
  margin: 0px;
  color: #161616;
}
