.skeleton-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
}

.skeleton-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  background: #eee;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.skeleton-image::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
}

.skeleton-content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.skeleton-title-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-title {
  width: 120px;
  height: 20px;
  background: #eee;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
}

.skeleton-tag {
  width: 60px;
  height: 16px;
  background: #eee;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-tag::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
}

.skeleton-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.skeleton-price-amount {
  width: 80px;
  height: 20px;
  background: #eee;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-price-amount::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
}

.skeleton-price-period {
  width: 40px;
  height: 14px;
  background: #eee;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.skeleton-price-period::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: shimmer 1.5s infinite;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
