.van-detail__main-content {
  margin: 40px 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.van-detail__back-link a {
  color: #201f1d;
  text-decoration: underline;
}

.van-detail__image {
  width: 100%;
  max-width: 700px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.van-detail__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.van-detail__article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.van-detail__title-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.van-detail__title {
  font-weight: 700;
  font-size: 2rem;
}

.van-detail__price-amount {
  font-weight: 700;
  font-size: 1.3rem;
}

.van-detail__rent-button {
  background-color: #ff8c38;
  border: 0;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  padding: 15px 0px;
  margin-top: 5%;
  text-align: center;
  text-decoration: none;
}

.van-detail__rent-button:hover {
  filter: invert(0.3);
  transform: scale(0.98);
}
