.home__main-content {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)),
    url("../../assets/mountain.png") no-repeat top center;
  background-size: cover;
  background-attachment: fixed;
  flex: 1;
  padding: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.home__heading {
  color: white;
  font-weight: 800;
  font-size: 3.5rem;
  margin: 0;
}

.home__description {
  color: white;
  font-weight: 400;
  font-size: 1.3rem;
}

.home__find-van-button {
  background-color: #ff8c38;
  border: 0;
  border-radius: 5px;
  width: 100%;
  color: white;
  font-family: inherit;
  font-weight: 700;
  font-size: 1rem;
  padding: 20px 0px;
  text-align: center;
  text-decoration: none;
}

.home__find-van-button:hover {
  filter: invert(0.3);
  transform: scale(0.98);
}
