/* NavBar */
.host__dashboard-nav {
  margin: 2rem;
}
.host__nav-list {
  display: flex;
  list-style-type: none;
  gap: 4rem;
  font-weight: 600;
  margin: 0px;
  color: #4d4d4d;
  padding: 0;
}

.host__nav-item {
  text-decoration: none;
  color: inherit;
}

.host__nav-item:hover {
  transform: translate(1px, 1px);
}

.host__nav-item:focus {
  color: var(--header-color);
  text-decoration: underline;
}

.host__nav-item.active {
  color: var(--header-color);
  text-decoration: underline;
}

/* Welcome Header */
.host__welcome-header {
  background-color: #ffead0;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.host__welcome-title {
  font-size: 2rem;
}

.host__header a {
  color: var(--header-color);
  text-decoration: none;
}

/* Income Text */
.host__income__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host__income__text {
  color: #4d4d4d;
}

.host__income__text .income__days {
  font-weight: bold;
  text-decoration: underline;
}

.host_income__amount {
  font-size: 2.3rem;
}
/* review section */
.host__review {
  background-color: #ffddb2;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host__review-score {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.host__score {
  display: flex;
  align-items: center;
  gap: 2px;
}

.host__main-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2rem;
}
