/* Navigation */
.dashboard-nav-bar__nav-list {
  display: flex;
  list-style: none;
  gap: 4rem;
  margin: 1rem 2rem;
  padding: 0;
}

.dashboard-nav-bar__nav-link {
  color: #4d4d4d;
  text-decoration: none;
  font-weight: 600;
  transition: transform 0.2s ease;
}

.dashboard-nav-bar__nav-link:hover {
  transform: translate(1px, 1px);
  color: var(--header-color);
  text-decoration: underline;
}

.dashboard-nav-bar__nav-link.active {
  color: var(--header-color);
  text-decoration: underline;
}
