.header {
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
  position: sticky;
  top: 0;
}

.header__logo {
  height: 2.6rem;
  width: 9rem;
}

.header__logo:hover {
  filter: invert(0.3);
}

.header__nav-links {
  align-content: center;
}

.header__nav-list {
  display: flex;
  list-style-type: none;
  gap: 2.5rem;
  font-weight: 600;
  margin: 0px;
  color: #4d4d4d;
  padding: 0;
}

.header__nav-list a {
  text-decoration: none;
  color: inherit;
}

.header__nav-list a:hover {
  transform: translate(1px, 1px);
  color: var(--header-color);
  text-decoration: underline;
}

.header__nav-list.active {
  transform: translate(1px, 1px);
  color: var(--header-color);
  text-decoration: underline;
}
