.vans__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: min(230px, 100%);
}

.vans__card-image {
  width: 230px;
  aspect-ratio: 1 / 1;
  height: auto;
}

.vans__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.vans__card-content {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--header-color);
}

.vans__card-title-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vans__card-title {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.2rem;
}

.vans__card-tag {
  background-color: #e17654;
  color: #ffead0;
  border-radius: 5px;
  padding: 7px 13px;
  text-align: center;
  max-height: 35px;
  max-width: 85px;
  font-weight: 500;
}

.vans__card-tag.simple {
  background-color: #e17654;
}

.vans__card-tag.rugged {
  background-color: #115e59;
}

.vans__card-tag.luxury {
  background-color: #161616;
}

.vans__card-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.vans__price-amount {
  font-size: 1.2rem;
  font-weight: 600;
}

.vans__price-period {
  font-size: 0.9rem;
}
