:root {
  --font-primary: "Inter", serif;

  --header-color: #161616;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: #fff7ed;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
