:root {
  --font-primary: "Inter", serif;

  --header-color: #161616;
}

main {
  height: 100vh;
  width: 100%;
  flex: 1;
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff7ed;
}
